<a href="https://colab.research.google.com/github/rohizzzy/CapstoneProjectLTIM/blob/main/CapstoneProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [275]:
# pip install pandas numpy faker

In [276]:
# import pandas as pd
# import numpy as np
# import json
# import random
# from faker import Faker
# from datetime import datetime, timedelta
# import os

# fake = Faker()
# RECORDS = 200_000
# OUTPUT_DIR = "generated_data_v2"
# os.makedirs(OUTPUT_DIR, exist_ok=True)

# # --- Helper Functions ---
# def add_missing(df, column, percent=0.05):
#     """Insert nulls in a percentage of a column"""
#     null_rows = df.sample(frac=percent)
#     df.loc[null_rows.index, column] = None

# def add_duplicates(df, percent=0.08):
#     """Add duplicated rows (5–10%)"""
#     duplicates = df.sample(frac=percent)
#     return pd.concat([df, duplicates], ignore_index=True)

# # --- 1. loan_applications.csv ---
# loan_applications = []

# for _ in range(RECORDS):
#     row = {
#         "customer_id": fake.uuid4(),
#         "loan_amount": round(random.uniform(5000, 1000000), 2),
#         "term": random.choice([12, 24, 36, 48, 60]),
#         "purpose": random.choice(["Home", "Car", "Education", "Medical", "Business", "Other"]),
#         "application_date": fake.date_between(start_date='-5y', end_date='today'),
#         "employment_status": random.choice(["Employed", "Self-employed", "Unemployed"]),
#         "location": fake.city(),
#         "channel": random.choice(["Online", "Branch", "Agent"]),
#         "interest_rate": round(random.uniform(6.0, 15.0), 2),
#         "co_applicant": random.choice(["Yes", "No"])
#     }
#     loan_applications.append(row)

# df_loan = pd.DataFrame(loan_applications)

# # Add nulls
# for col in ["location", "employment_status", "channel"]:
#     add_missing(df_loan, col, percent=random.uniform(0.03, 0.07))

# # Add anomalies
# df_loan.loc[100, "interest_rate"] = 55.0  # Unusually high
# df_loan.loc[101, "term"] = -12  # Invalid term

# # Add duplicates
# df_loan = add_duplicates(df_loan, percent=random.uniform(0.05, 0.1))

# df_loan.to_csv(f"{OUTPUT_DIR}/loan_applications.csv", index=False)

# # --- 2. customer_credit_history.json ---
# credit_history = []

# for _ in range(RECORDS):
#     row = {
#         "customer_id": fake.uuid4(),
#         "credit_score": random.randint(300, 850),
#         "defaults": random.randint(0, 5),
#         "current_debts": round(random.uniform(1000, 150000), 2),
#         "open_credit_lines": random.randint(1, 10),
#         "credit_card_utilization": round(random.uniform(0.0, 1.0), 2),
#         "last_default_date": fake.date_between(start_date='-3y', end_date='today') if random.random() < 0.25 else None,
#         "employer_name": fake.company(),
#         "monthly_income": round(random.uniform(25000, 200000), 2),
#         "residence_status": random.choice(["Owned", "Rented", "Family", "PG", None])
#     }
#     credit_history.append(row)

# df_credit = pd.DataFrame(credit_history)

# # Nulls
# for col in ["employer_name", "monthly_income", "residence_status"]:
#     add_missing(df_credit, col, percent=random.uniform(0.03, 0.07))

# # Anomalies
# df_credit.loc[120, "credit_score"] = 950  # Invalid score
# df_credit.loc[121, "current_debts"] = -5000  # Negative debts

# # Duplicates
# df_credit = add_duplicates(df_credit, percent=random.uniform(0.05, 0.1))
# df_credit.to_json(f"{OUTPUT_DIR}/customer_credit_history.json", orient="records", indent=2)

# # --- 3. monthly_payment_logs.csv ---
# payment_logs = []

# for _ in range(RECORDS):
#     pay_date = fake.date_between(start_date='-3y', end_date='today')
#     row = {
#         "customer_id": fake.uuid4(),
#         "payment_date": pay_date,
#         "payment_status": random.choice(["Paid", "Late", "Missed"]),
#         "missed_payment_flag": random.choice([0, 1]),
#         "payment_amount": round(random.uniform(300, 50000), 2),
#         "due_date": fake.date_between(start_date='-3y', end_date=pay_date),
#         "location": fake.city(),
#         "channel": random.choice(["Online", "Mobile", "Branch", "Agent"]),
#         "is_auto_debit": random.choice(["Yes", "No"]),
#         "notes": random.choice(["", "Bank Error", "Retry", "System issue", None])
#     }
#     payment_logs.append(row)

# df_payments = pd.DataFrame(payment_logs)

# # Nulls
# add_missing(df_payments, "notes", percent=random.uniform(0.03, 0.07))

# # Anomalies
# df_payments.loc[135, "payment_date"] = "2035-01-01"  # Future date
# df_payments.loc[136, "payment_amount"] = -200.00  # Negative payment

# # Duplicates
# df_payments = add_duplicates(df_payments, percent=random.uniform(0.05, 0.1))
# df_payments.to_csv(f"{OUTPUT_DIR}/monthly_payment_logs.csv", index=False)

# # --- 4. risk_flag_rules.json ---
# risk_rules = [
#     {
#         "rule_id": "R001",
#         "description": "Credit score < 600 AND >2 defaults",
#         "risk_flag": "HIGH"
#     },
#     {
#         "rule_id": "R002",
#         "description": "Loan amount > ₹3,00,000 AND income < ₹40,000",
#         "risk_flag": "MEDIUM"
#     },
#     {
#         "rule_id": "R003",
#         "description": "Missed payment in last 3 months",
#         "risk_flag": "HIGH"
#     },
#     {
#         "rule_id": "R004",
#         "description": "No defaults AND low credit utilization",
#         "risk_flag": "LOW"
#     },
#     {
#         "rule_id": "R005",
#         "description": "High open credit lines + default history",
#         "risk_flag": "HIGH"
#     }
# ]

# with open(f"{OUTPUT_DIR}/risk_flag_rules.json", "w") as f:
#     json.dump(risk_rules, f, indent=2)

# print(f"✅ All datasets generated successfully in folder: {OUTPUT_DIR}")

In [277]:
# pip install pyspark==3.5.2

# **Loading DataFrame**

In [278]:
from pyspark.sql import SparkSession,DataFrame
from pyspark.sql.functions import *
spark=SparkSession.builder.appName("Credit_analysis").getOrCreate()

In [279]:
loan_df=spark.read.csv("generated_data_v2/loan_applications.csv",header=True,inferSchema=True)

In [280]:
from pyspark.sql.types import (
    StructType, StructField,
    StringType, DoubleType, LongType, IntegerType,DateType
)

risk_flag_schema = StructType([
    StructField("rule_id", StringType(), True),
    StructField("min_credit_score", DoubleType(), True),
    StructField("max_defaults_allowed", DoubleType(), True),
    StructField("max_current_debt", DoubleType(), True),
    StructField("region", StringType(), True),
    StructField("loan_purpose", StringType(), True),
    StructField("term_months_allowed", DoubleType(), True),
    StructField("flag", StringType(), True),
    StructField("rule_active", StringType(), True),
    StructField("created_by", StringType(), True),
    StructField("created_date", LongType(), True),  # Assuming it's a Unix timestamp in milliseconds
    StructField("review_frequency_days", DoubleType(), True)
])

In [281]:
from pyspark.sql.types import (
    StructType, StructField,
    StringType, IntegerType, DoubleType, LongType
)

customer_credit_history_schema = StructType([
    StructField("customer_id", StringType(), True),
    StructField("credit_score", DoubleType(), True),
    StructField("defaults", IntegerType(), True),
    StructField("current_debt", DoubleType(), True),
    StructField("last_loan_status", StringType(), True),
    StructField("bank_name", StringType(), True),
    StructField("account_age_years", IntegerType(), True),
    StructField("last_updated", LongType(), True),
    StructField("region", StringType(), True),
    StructField("loan_type", StringType(), True),
    StructField("flagged", StringType(), True)# assuming it's a Unix timestamp
])

In [282]:
cust_df=spark.read.option("multiline",True).json("generated_data_v2/customer_credit_history.json")

In [283]:
mp_df=spark.read.csv("/content/generated_data_v2/monthly_payment_logs.csv",header=True,inferSchema=True)
mp_df=mp_df.withColumn("payment_date",col("payment_date").cast(DateType()))
risk_df=spark.read.option("multiline",True).json("/content/generated_data_v2/risk_flag_rules.json")

In [284]:
risk_df.show()

+--------------------+---------+-------+
|         description|risk_flag|rule_id|
+--------------------+---------+-------+
|Credit score < 60...|     HIGH|   R001|
|Loan amount > ₹3,...|   MEDIUM|   R002|
|Missed payment in...|     HIGH|   R003|
|No defaults AND l...|      LOW|   R004|
|High open credit ...|     HIGH|   R005|
+--------------------+---------+-------+

In [285]:
cust_df.cache()
cust_df.show(truncate=False)

+-----------------------+------------+-------------+------------------------------------+--------+----------------------------+-----------------+--------------+-----------------+----------------+
|credit_card_utilization|credit_score|current_debts|customer_id                         |defaults|employer_name               |last_default_date|monthly_income|open_credit_lines|residence_status|
+-----------------------+------------+-------------+------------------------------------+--------+----------------------------+-----------------+--------------+-----------------+----------------+
|0.47                   |802         |31638.42     |541a6a67-3b03-4642-9eb3-6f3e8db33ee5|4       |Shields-Thompson            |NULL             |178921.98     |6                |Owned           |
|0.71                   |810         |108528.14    |3357bb54-f4e7-4665-9de4-d41fb153826e|5       |Schroeder, Price and Stanley|NULL             |164109.82     |1                |NULL            |
|0.87                   |793         |131725.83    |11e49f03-4326-4e4f-b9fd-a9a9e59ca837|2       |Day, Rios and Gallegos      |NULL             |84662.13      |7                |Owned           |
|0.65                   |321         |128904.04    |1bebd006-2daa-468b-9fa0-1c0cbe30599f|1       |Christensen PLC             |1678492800000    |NULL          |9                |Rented          |
|0.1                    |734         |133667.76    |4da52423-0fde-4c1d-9093-57455ba27a1e|2       |NULL                        |1688774400000    |183185.92     |1                |Owned           |
|0.68                   |344         |78298.4      |d884cecf-f640-4bf9-8060-7046ca7d3bdf|0       |Hall Ltd                    |NULL             |62209.98      |6                |Owned           |
|0.99                   |608         |111763.02    |ca385eb2-3912-4de1-9915-742b620b5c6b|3       |Morgan, Martinez and Kelly  |1703203200000    |179142.01     |10               |Rented          |
|0.07                   |623         |74718.86     |179e9e33-ff49-42ab-bbfe-284a23d61fec|0       |Miller and Sons             |NULL             |166926.84     |10               |Family          |
|0.48                   |811         |122141.87    |78a71a8b-bd29-45fc-ba39-d46ba4c15b8d|0       |Jensen-Peck                 |NULL             |NULL          |5                |Family          |
|0.46                   |541         |64467.8      |6af9f4f1-99e0-45dc-b562-01a206bd0327|1       |Williams Inc                |NULL             |197799.95     |6                |Family          |
|0.1                    |534         |145709.84    |0f7df3a0-cf7d-4e4a-8969-83c336dd978e|2       |NULL                        |1708214400000    |51225.31      |3                |Owned           |
|0.95                   |706         |103488.72    |aa895cdd-5b3f-4277-8e10-38cb331d613d|2       |Barr-Moore                  |NULL             |74732.66      |8                |Rented          |
|0.79                   |839         |29589.79     |bb8d3e7f-a947-4a11-aa83-548e816d9560|4       |Haas, Kline and Jackson     |NULL             |65475.16      |1                |Family          |
|0.05                   |413         |32503.51     |f58a8e4b-d115-44e5-96f1-df314cc0683b|1       |Newman-Wheeler              |1747180800000    |137766.03     |1                |Rented          |
|0.03                   |670         |58714.51     |15ed3214-c4b3-49cc-8a0b-86acce6a2839|5       |NULL                        |1717459200000    |128499.0      |4                |Rented          |
|0.62                   |333         |11326.19     |f23dab60-75de-4401-8998-1ce5ee634485|3       |White, Love and Atkins      |NULL             |104815.28     |9                |Owned           |
|0.4                    |301         |98987.28     |eeca3f63-e16a-4daa-99c4-fe58a33530dc|1       |Ford-Weaver                 |1737158400000    |160548.92     |9                |Family          |
|0.35                   |552         |80890.95     |482a4e6c-cc2d-479a-a410-27ae269e728d|2       |Jordan PLC                  |NULL             |NULL          |7                |Family          |
|0.32                   |684         |137169.23    |0cec3948-ddb4-4922-b2e0-43016afb27fb|5       |Lopez, Wood and Howell      |NULL             |85725.23      |7                |Rented          |
|0.41                   |382         |123168.31    |ea447d68-303d-4b87-a5db-08db12819891|2       |Vargas-Jones                |NULL             |114855.98     |4                |Rented          |
+-----------------------+------------+-------------+------------------------------------+--------+----------------------------+-----------------+--------------+-----------------+----------------+
only showing top 20 rows

In [286]:
loan_df.show()

+--------------------+-----------+----+---------+----------------+-----------------+--------------------+-------+-------------+------------+
|         customer_id|loan_amount|term|  purpose|application_date|employment_status|            location|channel|interest_rate|co_applicant|
+--------------------+-----------+----+---------+----------------+-----------------+--------------------+-------+-------------+------------+
|6c04eaf7-e398-4d1...|  401448.49|  12|  Medical|      2023-09-01|    Self-employed|         Port Joseph|  Agent|        11.85|         Yes|
|04d80cc6-a615-4cb...|  511240.98|  60|      Car|      2022-04-25|       Unemployed|         Taylorhaven| Branch|        11.39|         Yes|
|a43c046b-adb0-421...|  766927.25|  60|      Car|      2022-10-04|       Unemployed|       Stephanieland| Online|        11.91|         Yes|
|1f3b99f0-7baf-431...|  247686.69|  12|      Car|      2024-10-03|         Employed|          Nguyenside|  Agent|        12.93|          No|
|490780e6-647d-48b...|  399326.23|  60|Education|      2023-08-25|    Self-employed|          Frankmouth| Branch|        13.47|          No|
|33660510-66ad-4d3...|  636077.64|  24|Education|      2023-04-07|    Self-employed|          Amandaport|  Agent|        14.49|          No|
|7d23ba12-4b71-459...|  654106.97|  60|  Medical|      2024-01-31|       Unemployed|                NULL| Online|        10.86|         Yes|
|104a5498-28f4-4fc...|   578782.7|  36|    Other|      2023-06-24|    Self-employed|South Michaelchester| Branch|        14.83|          No|
|c0e68fad-3dbc-4d1...|  486601.79|  12|  Medical|      2025-03-23|         Employed|        Jonathanstad|   NULL|        14.79|         Yes|
|35971c24-15ca-461...|  896930.24|  12|Education|      2024-11-28|    Self-employed|      Lake Ryanhaven| Online|         9.67|          No|
|ec695d27-0b61-475...|  232717.83|  12|Education|      2021-11-18|       Unemployed|        West Marilyn|  Agent|        14.94|         Yes|
|f5aba62e-ff3e-4d9...|  609603.58|  24|    Other|      2025-03-08|       Unemployed|    Lake Victorville| Branch|        14.77|         Yes|
|d7f3acb2-9964-4a8...|  801256.25|  24|    Other|      2023-08-01|         Employed|         South Renee|   NULL|        12.29|         Yes|
|8c718491-f1fd-4e0...|  254774.39|  60|     Home|      2020-09-23|    Self-employed|                NULL|  Agent|         7.77|          No|
|557071cc-fe47-4c5...|   77810.27|  12| Business|      2021-11-15|       Unemployed|          Bryanmouth| Online|        12.47|          No|
|e00cc924-da49-4ea...|  407067.66|  48| Business|      2024-09-26|    Self-employed|         North Ricky| Branch|        14.56|         Yes|
|235f10c8-d16b-4cb...|  131195.85|  12|Education|      2024-09-18|    Self-employed|         Martinburgh| Online|        13.85|         Yes|
|1ddb6e58-66c6-4ca...|  975087.91|  24| Business|      2020-09-08|    Self-employed|   Port Kathleenfurt|  Agent|         8.01|         Yes|
|e4c5ede8-ff7b-47f...|  729888.65|  48|  Medical|      2024-04-22|         Employed|    North Jameshaven|  Agent|        14.94|         Yes|
|56e4ec46-43ad-426...|  557469.16|  24|  Medical|      2022-04-10|       Unemployed|          East Sarah|  Agent|        14.69|         Yes|
+--------------------+-----------+----+---------+----------------+-----------------+--------------------+-------+-------------+------------+
only showing top 20 rows

In [287]:
mp_df=spark.read.csv("/content/generated_data_v2/monthly_payment_logs.csv",header=True,inferSchema=True)
risk_df=spark.read.option("multiline",True).json("/content/generated_data_v2/risk_flag_rules.json")

In [288]:
risk_df.show()

+--------------------+---------+-------+
|         description|risk_flag|rule_id|
+--------------------+---------+-------+
|Credit score < 60...|     HIGH|   R001|
|Loan amount > ₹3,...|   MEDIUM|   R002|
|Missed payment in...|     HIGH|   R003|
|No defaults AND l...|      LOW|   R004|
|High open credit ...|     HIGH|   R005|
+--------------------+---------+-------+

# **Cleaning loan DataFrame**

In [289]:
loan_df.count()

211154

In [290]:
loan_df = loan_df.dropDuplicates()

In [291]:
loan_df = loan_df.dropna(subset=["customer_id", "loan_amount", "term", "interest_rate"])

In [292]:
loan_df = loan_df.filter(col("term") > 0)

In [293]:
loan_df = loan_df.filter((col("interest_rate") >= 3) & (col("interest_rate") <= 25))

In [294]:
q1, q3 = loan_df.approxQuantile("loan_amount", [0.25, 0.75], 0)
iqr = q3 - q1
upper = q3 + 1.5 * iqr
loan_df = loan_df.filter(col("loan_amount") <= upper)

In [295]:
loan_df.write.mode("overwrite").csv("cleaned/loan_applications_cleaned.csv", header=True)

In [296]:
loan_df.count()

199998

## **Cleaning monthly_payment DataFrame**

In [297]:
mp_df.count()

216274

In [298]:
mp_df= mp_df.dropDuplicates()

In [299]:
q1, q3 = mp_df.approxQuantile("payment_amount", [0.25, 0.75], 0)
iqr = q3 - q1
upper = q3 + 1.5 * iqr
mp_df= mp_df.filter((col("payment_amount") >= 0) & (col("payment_amount") <= upper))

In [300]:
today = current_date()
mp_df= mp_df.filter(col("payment_date") <= today)

In [301]:
mp_df.count()

199998

## **Cleaning Customer DataFrame**

In [302]:
cust_df.show()
cust_df.count()

+-----------------------+------------+-------------+--------------------+--------+--------------------+-----------------+--------------+-----------------+----------------+
|credit_card_utilization|credit_score|current_debts|         customer_id|defaults|       employer_name|last_default_date|monthly_income|open_credit_lines|residence_status|
+-----------------------+------------+-------------+--------------------+--------+--------------------+-----------------+--------------+-----------------+----------------+
|                   0.47|         802|     31638.42|541a6a67-3b03-464...|       4|    Shields-Thompson|             NULL|     178921.98|                6|           Owned|
|                   0.71|         810|    108528.14|3357bb54-f4e7-466...|       5|Schroeder, Price ...|             NULL|     164109.82|                1|            NULL|
|                   0.87|         793|    131725.83|11e49f03-4326-4e4...|       2|Day, Rios and Gal...|             NULL|      84662.13|                7|           Owned|
|                   0.65|         321|    128904.04|1bebd006-2daa-468...|       1|     Christensen PLC|    1678492800000|          NULL|                9|          Rented|
|                    0.1|         734|    133667.76|4da52423-0fde-4c1...|       2|                NULL|    1688774400000|     183185.92|                1|           Owned|
|                   0.68|         344|      78298.4|d884cecf-f640-4bf...|       0|            Hall Ltd|             NULL|      62209.98|                6|           Owned|
|                   0.99|         608|    111763.02|ca385eb2-3912-4de...|       3|Morgan, Martinez ...|    1703203200000|     179142.01|               10|          Rented|
|                   0.07|         623|     74718.86|179e9e33-ff49-42a...|       0|     Miller and Sons|             NULL|     166926.84|               10|          Family|
|                   0.48|         811|    122141.87|78a71a8b-bd29-45f...|       0|         Jensen-Peck|             NULL|          NULL|                5|          Family|
|                   0.46|         541|      64467.8|6af9f4f1-99e0-45d...|       1|        Williams Inc|             NULL|     197799.95|                6|          Family|
|                    0.1|         534|    145709.84|0f7df3a0-cf7d-4e4...|       2|                NULL|    1708214400000|      51225.31|                3|           Owned|
|                   0.95|         706|    103488.72|aa895cdd-5b3f-427...|       2|          Barr-Moore|             NULL|      74732.66|                8|          Rented|
|                   0.79|         839|     29589.79|bb8d3e7f-a947-4a1...|       4|Haas, Kline and J...|             NULL|      65475.16|                1|          Family|
|                   0.05|         413|     32503.51|f58a8e4b-d115-44e...|       1|      Newman-Wheeler|    1747180800000|     137766.03|                1|          Rented|
|                   0.03|         670|     58714.51|15ed3214-c4b3-49c...|       5|                NULL|    1717459200000|      128499.0|                4|          Rented|
|                   0.62|         333|     11326.19|f23dab60-75de-440...|       3|White, Love and A...|             NULL|     104815.28|                9|           Owned|
|                    0.4|         301|     98987.28|eeca3f63-e16a-4da...|       1|         Ford-Weaver|    1737158400000|     160548.92|                9|          Family|
|                   0.35|         552|     80890.95|482a4e6c-cc2d-479...|       2|          Jordan PLC|             NULL|          NULL|                7|          Family|
|                   0.32|         684|    137169.23|0cec3948-ddb4-492...|       5|Lopez, Wood and H...|             NULL|      85725.23|                7|          Rented|
|                   0.41|         382|    123168.31|ea447d68-303d-4b8...|       2|        Vargas-Jones|             NULL|     114855.98|                4|          Rented|
+-----------------------+------------+-------------+--------------------+--------+--------------------+-----------------+--------------+-----------------+----------------+
only showing top 20 rows

215261

In [303]:
cust_df=cust_df.dropDuplicates()
cust_df=cust_df.dropna(subset=["customer_id","credit_score","residence_status","employer_name","monthly_income"])

In [304]:
cust_df=cust_df.fillna(0)

In [305]:
cust_df=cust_df.filter((col("credit_score") >= 450))

In [306]:
cust_df=cust_df.filter(col("monthly_income")>50000)

In [307]:
cust_df=cust_df.filter(col("defaults")<=3)

In [308]:
cust_df.count()

55379